version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/ayoub-sekoum/automattuner:latest
    ports:
      - "8080:8080"
    environment:
      - FLASK_ENV=production
      - REDIS_URL=redis://redis:6379/0
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID}
      - AZURE_CLIENT_SECRET=${AZURE_CLIENT_SECRET}
      - AZURE_TENANT_ID=${AZURE_TENANT_ID}
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    restart: always

  worker:
    build:
      context: .
      dockerfile: Dockerfile-worker
    image: ghcr.io/ayoub-sekoum/automattuner-worker:latest
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    restart: always

  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    image: ghcr.io/ayoub-sekoum/automattuner-nginx:latest
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    restart: always
