name: Build and Push Docker Images

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push web image
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:latest

      - name: Build and push worker image
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: Dockerfile-worker
          push: true
          tags: ghcr.io/${{ github.repository }}-worker:latest

      - name: Build and push nginx image
        uses: docker/build-push-action@v4
        with:
          context: ./docker/nginx
          dockerfile: ./docker/nginx/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}-nginx:latest
